// Colores principales
$principal-1: rgb(129 57 210); // violeta principal 
$principal-2: rgb(87 87 87); // boton nav inactivo 

// Colores de fondo
$fondo-1: rgb(33, 37, 41); // fondo y boton suscribete newsletter
$fondo-2: rgb(47 6 89); // fondo footer 

